body{
	background-color: #ffff;
	color: rgb(68, 68, 68);
	font-family: Arial, sans-serif;
}

.navbar{
	background-color: #2d2d2d;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.navbar a{
	color: white;
	text-decoration: none;
	margin-right: 20px;
}

.navbar a:first-child{
	color: #fff;
}

.navbar a:nth-child(2){
	color: #bfbfbf;
}

.navbar a:nth-child(3){
	color: #bfbfbf;
}

.navbar a:nth-child(4){
	color: #bfbfbf;
}

.navbar a:nth-child(5){
	color: #fff;
}

.navbar a:last-child{
	color: #00b300;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	text-transform: uppercase;
}

.container{
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	align-items: center;
	justify-content: center;
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.box1{
    text-align: center;
	width: 200px;
	height: 200px;
	border: 1px solid blue;
	margin-right: 10px;
	box-sizing: border-box;
}

.box2{
    text-align: center;
	width: 200px;
	height: 200px;
	border: 1px solid rgb(13, 121, 45);
	margin-right: 10px;
	box-sizing: border-box;
}
.box3{
    text-align: center;
	width: 200px;
	height: 200px;
	border: 1px solid rgb(255, 179, 0);
	margin-right: 10px;
	box-sizing: border-box;
}

input[type="text"]{
	width: 70px;
	margin-right: 2px;
	padding: 5px;
	box-sizing: border-box;
}

input[type="email"]{
	width: 140px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
	box-sizing: border-box;
}

select{
	width: 70px;
	margin-right: 2px;
	padding: 5px;
	box-sizing: border-box;
}

input[type="number"]{
	width: 70px;
	margin-right: 2px;
	padding: 5px;
	box-sizing: border-box;
}

.total{
	background-color: #b3e6ff;
	width: 620px;
	padding: 10px;
	margin-top: 20px;
	box-sizing: border-box;
    text-align: left;
}
 

.form{
	margin-top: 10px;
	display:flex; 
	flex-direction:column; 
	align-items:center; 
	justify-content:center; 
	text-align:center; 
}

.form1{
    /* background-color: #5363bfa3; */
	margin-top: 40px;
	display: flex; 
	flex-direction:row; 
	align-items: normal;  
	text-align:center;
	justify-content:space-between; 
    padding-bottom: 20px;
    margin-bottom: 2px;
    margin-top: 15px;
	margin-right: 25%;
	margin-left: 25%;
}

.separar{
	padding-left: 5px;
}

input[type="button"]{
	background-color:#62c962; 
	color:white; 
	border:none; 
	padding:.5rem; 
	border-radius:.3rem; 
	cursor:pointer; 
	font-weight:bold; 
	text-transform:uppercase; 
	font-size:.8rem; 
	outline:none; 
}

input[type="button"]:hover{
	background-color:#b3e6ff; 
	color:#1c1c1c; 
}

.footer{
    color: #fff;
	background-color:#184250; 
	display:flex;
    flex-direction: row;
    align-items:center; 
	justify-content:space-between; 
	text-align:center;
    padding: 20px;
    margin: auto;
}

.info{
    display:block;
    flex-direction: row;
    align-items:center; 
	justify-content:center; 
	text-align:center;
}
.content2{
    /* background-color: #5363bfa3; */
	margin-top: 5px;
    margin-bottom: 5px;
	display: flex;    
    padding-bottom: 10px;
    justify-content: flex-start;
    width: 620px;
}
.div1{
    width: 50%;
    text-align: left;
}

.div2{
    width: 50%;
    text-align: left;
    height: min-content;
}


@media only screen and (max-width: 600px) {
	body {
	  font-size: 16px;
	}
	.navbar {
	  flex-direction: column;
	  align-items: flex-start;
	}
	.navbar a {
	  margin: 10px 0;
	  display: block;
	}
	.container {
	  flex-direction: column;
	  margin-top: 20px;
	  margin-bottom: 20px;
	}
	.box1, .box2, .box3 {
	  width: 100%;
	  margin-bottom: 20px;
	}
	input[type="text"], input[type="email"], select, input[type="number"] {
	  width: 100%;
	  margin-bottom: 10px;
	}
	.total {
	  width: 100%;
	}
	.content2 {
	  width: 100%;
	  flex-direction: column;
	}
	.div1, .div2 {
	  width: 100%;
	  text-align: center;
	}
	.footer{
	display: flex;
	justify-content: space-between;
	flex-direction:row; 
	font-size: 57%;
	}
	.mob{
		width: 540px;
		display:inline-flex;
		flex-direction: row;
		align-items:center; 
		justify-content:center; 
		text-align:center;
		justify-items: flex-start;
	}
	.form1{
		display:flex;
		flex-direction:column;
		align-items:center; 
		justify-content:center; 
		text-align:center;
		
	}
	.separar{
		display: block;
		flex-direction: column;
		justify-content: center;
		padding-top: 15px;
		margin-left: -5px;
	}
  }

  @media only screen and (max-width: 375px) {
	body {
	  font-size: 14px;
	}
	.navbar {
	  padding: 10px 5px;
	}
	.navbar a {
	  margin: 5px 0;
	  font-size: 14px;
	}
	.container {
	  margin-top: 20px;
	  margin-bottom: 20px;
	}
	.box1, .box2, .box3 {
	  width: 100%;
	  margin-bottom: 20px;
	  height: 200px;
	}
	input[type="text"], input[type="email"], select, input[type="number"] {
	  width: 100%;
	  margin-bottom: 10px;
	  font-size: 14px;
	  padding: 5px;
	}
	.footer {
	  font-size: 7px;
	  padding: 5px;
	  display: flex;
	  justify-content: space-between;
	}
	.form1{
		width:auto;
		display:flex;
		flex-direction:column; 
		justify-content: center; 
		text-align:center;
		align-items: center;	
	}
	.separar{
		padding-top: 15px;
		margin-left: -4px;
	}
	.mob{
		width: 310px;
		display:inline-flex;
		flex-direction: row;
		align-items:center; 
		justify-content:center; 
		text-align:center;
		justify-items: flex-start;
		margin-left: -10px;
	}
	.total {
		width: 310px;
		margin-left: -10px;
	  }
  }
  
  